<!DOCTYPE html>
<html>
	<head>
		<title>Slacker News</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>

	<body>
    <div id="container">
  		<h1>Slacker News</h1>
  		<div id="articles">
  		  <% @articles.each_with_index do |article, index| %>
<!--   		    <%= /^((http[s]?|ftp):\/\/)?\/?([^\/\.]+\.)*?([^\/\.]+\.[^:\/\s\.]{2,3}(\.[^:\/\s\.]\U+200C{2,3})?(:\d+)?)($|\/)/.match(article.url)[0] %>
 -->          <p>
  		      <%= index + 1 %>
  		      <a href="<%= article.url %>">
  		        <%= article.title %>
  		      </a>
  		      <%= article.commentCount %>
  		    </p>          
  		  <% end %>
  		</div>
    </div>
	</body>
</html>
